# Application
PORT=test_port # number, e.g. 3000 (default)
TYPEORM_SYNCHRONIZE=test_synchronize # boolean, e.g. true (!not for production!)

# Data Base
DB_HOST=test_db_host # string, e.g. postgres (default)
DB_PORT=test_db_port # number, e.g 5432 (default)
POSTGRES_USER=test_db_user # string, e.g. admin
POSTGRES_PASSWORD=test_db_user_password # string, e.g. admin (maybe empty)
POSTGRES_DB=test_db # string, e.g. MyDataBase

# JWT
JWT_SECRET=test_secret_key # string, e.g. secret_key
AUTH_ACCESS_TOKEN_EXPIRY=test_access_token_expiry # duration string, e.g. 15m
REFRESH_TOKEN_SECRET=test_refresh_secret_key # string, e.g. refresh_secret_key
AUTH_REFRESH_TOKEN_EXPIRY=test_refresh_token_expiry # duration string, e.g. 7d
